# CI Environment Traefik configuration
entryPoints:
  web:
    address: ":80"
  traefik:
    address: ":8082"

providers:
  file:
    filename: /etc/traefik/dynamic.yml
    watch: true

api:
  dashboard: true
  insecure: true

log:
  level: DEBUG

metrics:
  prometheus:
    entryPoint: traefik
    addEntryPointsLabels: true
    addServicesLabels: true
    buckets:
      - 0.1
      - 0.3
      - 1.2
      - 5.0 